<h1>Bienvenido a <font color='red'>b</font>e<font color='red'>C</font>omm</h1>
<h3><font color='red'>B</font>ackend e-<font color='red'>C</font>ommerce</h3>

<small>Hecho con Node.js, Express y MongoDB como reto final del Bootcamp de <a href="https://bootcamp.geekshubsacademy.com/online/backend-express/" target="_blank">{{tematica}}</a>, de <a href="https://geekshubsacademy.com/" target="_blank">GeeksHubs Academy</a> .</small>

<br /><br />

<marquee behavior="slide" direction="left">
    <img src="https://upload.wikimedia.org/wikipedia/vi/a/a7/Nodejs_logo_light.png" width="170px" alt="NodeJS" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://geekshubsacademy.com/img/logo_Geeks_Alfatec.svg" width="170px" alt="GeeksHubs Academy" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://camo.githubusercontent.com/fc61dcbdb7a6e49d3adecc12194b24ab20dfa25b/68747470733a2f2f692e636c6f756475702e636f6d2f7a6659366c4c376546612d3330303078333030302e706e67" width="170px" alt="Express framework" />


</marquee>