<h1>Login</h1>
<form onsubmit="login(event)">
    {{!-- <input type="text" name="username" placeholder="usuario"> --}}
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="contrase&nacute;a" required=required>
    <button type="submit">Entrar</button>
</form>