<h1>Bienvenido a <font color='red'>b</font>e<font color='red'>C</font>omm</h1>
<h3><font color='red'>B</font>ackend e-<font color='red'>C</font>ommerce</h3>

<small>Hecho con Node.js y {{title}} como reto final del Bootcamp de Backend, de GeeksHubs Academy.</small>
